@model AcademicManagementSystem.Models.TblUser
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/_StudentLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Student /</span> Account</h4>

<div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->

                    <hr class="my-0">
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input class="form-control" type="text" id="Name" name="Name" value="@Model.Name" readonly>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input class="form-control" type="text" name="Surname" id="Surname" value="@Model.Surname" readonly>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control" type="text" id="Email" name="Email" value="@Model.Email">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">Username</label>
                            <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" readonly>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">Phone Number</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">TR (+90)</span>
                              <input type="text" maxlength="10" id="Phone" name="Phone" class="form-control" value="@Model.Phone">
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="Adress" name="Adress" value="@Model.Adress">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="zipCode" class="form-label">District</label>
                            <input type="text" class="form-control" id="District" name="District" value="@Model.District">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="province">Province</label>
                            <select id="province" class="select2 form-select" name="Province">
                              <option value="">@Model.Province</option>
<option value="Adana" data-ekdeger="1">Adana</option>
<option value="Adıyaman" data-ekdeger="2">Adıyaman</option>
<option value="Afyonkarahisar " data-ekdeger="3">Afyonkarahisar </option>
<option value="Ağrı" data-ekdeger="4">Ağrı</option>
<option value="Aksaray" data-ekdeger="68">Aksaray</option>
<option value="Amasya" data-ekdeger="5">Amasya</option>
<option value="Ankara" data-ekdeger="6">Ankara</option>
<option value="Antalya" data-ekdeger="7">Antalya</option>
<option value="Ardahan" data-ekdeger="75">Ardahan</option>
<option value="Artvin" data-ekdeger="8">Artvin</option>
<option value="Aydın" data-ekdeger="9">Aydın</option>
<option value="Balıkesir" data-ekdeger="10">Balıkesir</option>
<option value="Bartın" data-ekdeger="74">Bartın</option>
<option value="Batman" data-ekdeger="72">Batman</option>
<option value="Bayburt" data-ekdeger="69">Bayburt</option>
<option value="Bilecik" data-ekdeger="11">Bilecik</option>
<option value="Bingöl" data-ekdeger="12">Bingöl</option>
<option value="Bitlis" data-ekdeger="13">Bitlis</option>
<option value="Bolu" data-ekdeger="14">Bolu</option>
<option value="Burdur" data-ekdeger="15">Burdur</option>
<option value="Bursa" data-ekdeger="16">Bursa</option>
<option value="Çanakkale" data-ekdeger="17">Çanakkale</option>
<option value="Çankırı" data-ekdeger="18">Çankırı</option>
<option value="Çorum" data-ekdeger="19">Çorum</option>
<option value="Denizli" data-ekdeger="20">Denizli</option>
<option value="Diyarbakır" data-ekdeger="21">Diyarbakır</option>
<option value="Düzce" data-ekdeger="81">Düzce</option>
<option value="Edirne" data-ekdeger="22">Edirne</option>
<option value="Elazığ" data-ekdeger="23">Elazığ</option>
<option value="Erzincan" data-ekdeger="24">Erzincan</option>
<option value="Erzurum" data-ekdeger="25">Erzurum</option>
<option value="Eskişehir" data-ekdeger="26">Eskişehir</option>
<option value="Gaziantep" data-ekdeger="27">Gaziantep</option>
<option value="Giresun" data-ekdeger="28">Giresun</option>
<option value="Gümüşhane" data-ekdeger="29">Gümüşhane</option>
<option value="Hakkari" data-ekdeger="30">Hakkari</option>
<option value="Hatay" data-ekdeger="31">Hatay</option>
<option value="Iğdır" data-ekdeger="76">Iğdır</option>
<option value="Isparta" data-ekdeger="32">Isparta</option>
<option value="İstanbul" data-ekdeger="34">İstanbul</option>
<option value="İzmir" data-ekdeger="35">İzmir</option>
<option value="Kahramanmaraş" data-ekdeger="46">Kahramanmaraş</option>
<option value="Karabük" data-ekdeger="78">Karabük</option>
<option value="Karaman" data-ekdeger="70">Karaman</option>
<option value="Kars" data-ekdeger="36">Kars</option>
<option value="Kastamonu" data-ekdeger="37">Kastamonu</option>
<option value="Kayseri" data-ekdeger="38">Kayseri</option>
<option value="Kırıkkale" data-ekdeger="71">Kırıkkale</option>
<option value="Kırklareli" data-ekdeger="39">Kırklareli</option>
<option value="Kırşehir" data-ekdeger="40">Kırşehir</option>
<option value="Kilis" data-ekdeger="79">Kilis</option>
<option value="Kocaeli" data-ekdeger="41">Kocaeli</option>
<option value="Konya" data-ekdeger="42">Konya</option>
<option value="Kütahya" data-ekdeger="43">Kütahya</option>
<option value="Malatya" data-ekdeger="44">Malatya</option>
<option value="Manisa" data-ekdeger="45">Manisa</option>
<option value="Mardin" data-ekdeger="47">Mardin</option>
<option value="Mersin" data-ekdeger="33">Mersin</option>
<option value="Muğla" data-ekdeger="48">Muğla</option>
<option value="Muş" data-ekdeger="49">Muş</option>
<option value="Nevşehir" data-ekdeger="50">Nevşehir</option>
<option value="Niğde" data-ekdeger="51">Niğde</option>
<option value="Ordu" data-ekdeger="52">Ordu</option>
<option value="Osmaniye" data-ekdeger="80">Osmaniye</option>
<option value="Rize" data-ekdeger="53">Rize</option>
<option value="Sakarya" data-ekdeger="54">Sakarya</option>
<option value="Samsun" data-ekdeger="55">Samsun</option>
<option value="Siirt" data-ekdeger="56">Siirt</option>
<option value="Sinop" data-ekdeger="57">Sinop</option>
<option value="Sivas" data-ekdeger="58">Sivas</option>
<option value="Şanlıurfa" data-ekdeger="63">Şanlıurfa</option>
<option value="Şırnak" data-ekdeger="73">Şırnak</option>
<option value="Tekirdağ" data-ekdeger="59">Tekirdağ</option>
<option value="Tokat" data-ekdeger="60">Tokat</option>
<option value="Trabzon" data-ekdeger="61">Trabzon</option>
<option value="Tunceli" data-ekdeger="62">Tunceli</option>
<option value="Uşak" data-ekdeger="64">Uşak</option>
<option value="Van" data-ekdeger="65">Van</option>
<option value="Yalova" data-ekdeger="77">Yalova</option>
<option value="Yozgat" data-ekdeger="66">Yozgat</option>
<option value="Zonguldak" data-ekdeger="67">Zonguldak</option>
                            </select>
                          </div>
                          
                          <div class="mb-3 col-md-6">
                            <label for="oldpassword" class="form-label">Password</label>
                            <input class="form-control" type="text" id="CurrentPassword" name="CurrentPassword" placeholder="**********">
                          </div>
                          
                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">New Password</label>
                            <input class="form-control" type="password" id="NewPassword" name="state" placeholder="Enter new password">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">Security Key</label>
                            <input class="form-control" type="text" id="SecurityKey" name="SecurityKey" value="@Model.SecurityKey">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">Confirm Password</label>
                            <input class="form-control" type="password" id="ConfirmNewPassword" name="Password" placeholder="Confirm new password">
                          </div>
                        <div class="mt-2">
                          <button onclick="ComparePasswords()" type="submit" class="btn btn-primary me-2" value="MyProfile">Save Changes</button>
                          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  
                  <script>
                      function ComparePasswords() {
                            var currentPassword = document.getElementById("CurrentPassword").value;
                            var newPassword = document.getElementById("NewPassword").value;
                            var confirmNewPassword = document.getElementById("ConfirmNewPassword").value;

                            if (currentPassword == "" && newPassword != ""){
                                alert("Current Password can not be empty!");
                                document.getElementById("ConfirmNewPassword").value = @Model.Password;
                            }
                            else if(currentPassword != @Model.Password && newPassword != ""){
                                alert("Current Password is wrong! Please try again.");
                                document.getElementById("ConfirmNewPassword").value = @Model.Password;
                            }
                            else if(newPassword != "")
                            {
                                if(confirmNewPassword == ""){
                                    alert("Confirm new password required. Password not changed.");
                                    document.getElementById("ConfirmNewPassword").value = @Model.Password;
                                }
                                else if (newPassword != confirmNewPassword) {
                                    alert("New password can not confirmed. Please try again.");
                                    document.getElementById("ConfirmNewPassword").value = @Model.Password;

                                }
                                else{
                                    alert("Changes applied successfully!");
                                }
                            }
                        }

                  </script>