@model IEnumerable<AcademicManagementSystem.Models.TblLesson>
@{
    ViewData["Title"] = "Timetable";
    Layout = "~/Views/_StudentLayout.cshtml";
    String[] days = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" };
    bool[] lessonInDay = new bool[5];
    int dayIndex = 0;
    int tempDayIndex=0;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Timetable /</span> My Courses</h4>
@foreach(var day in days)
{
    @foreach (var lesson in Model)
    {
        if (lesson.LessonDay == days[dayIndex])
        {
            lessonInDay[dayIndex] = true;
        }
    }

    dayIndex++;
}

@foreach(var day in days)
{
    if (lessonInDay[tempDayIndex])
    {
        if (day != "Monday")
        {
                    <hr class="my-5">
        }   
        <div class="card">
            <h5 class="card-header">@day</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lesson</th>
                            <th>Time</th>
                            <th>Class</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                        @foreach (var lesson in Model)
                        {
                            if (lesson.LessonDay == day)
                            {
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@lesson.LessonName</strong></td>
                                                <td>@lesson.LessonTime</td>
                                                <td>
                                    @lesson.LessonClass
                                                </td>
                                                <td><span class="me-1">@lesson.TeacherName</span></td>
                                              </tr>
                        }
                    }

                         </tbody>
                      </table>
                    </div>
        </div>
    }
    tempDayIndex++;
}



