@model AcademicManagementSystem.Models.TempTeacherModel
@{
    ViewData["Title"] = "TeacherControl";
    Layout = "~/Views/_AdminLayout.cshtml";
}


<form method="post">
<div class="card mb-4">
 <div class="card-body">   
                          <label for="defaultFormControlInput" class="form-label">User ID</label>
                        <input type="text" name="teacherID" class="form-control" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                        <button formaction="TeacherControl" type="submit" class="btn btn-primary me-2" >Get Teacher</button>
      </div>
      </div>
</form>



@if (Model != null)
{
    <div class="card mb-4">
                    <h5 class="card-header">Teacher Details</h5>
                    <!-- Account -->

                    <hr class="my-0">
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST">
                          <input type="hidden" name="Adress" value="@Model.Adress">
                          <input type="hidden" name="District" value="@Model.District">
                           <input type="hidden" name="Password" value="@Model.Password">
                          <input type="hidden" name="Province" value="@Model.Province">
                          <input type="hidden" name="SecurityKey" value="@Model.SecurityKey">
                          <input type="hidden" name="Adress" value="@Model.Adress">
                          <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input class="form-control" value="@Model.Name" type="text" id="Name" name="Name">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                                <input class="form-control" value="@Model.Surname"  type="text" name="Surname" id="Surname">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" value="@Model.Email"  type="text" id="Email" name="Email">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">Username</label>
                                <input type="text" class="form-control" value="@Model.Username"  id="Username" name="Username">
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">Phone Number</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">TR (+90)</span>
                                  <input type="text" maxlength="10" id="Phone"  value="@Model.Phone"  name="Phone" class="form-control">
                            </div>
                          </div>

                          <div class="divider">
                            <div class="divider-text">Teacher Details
                            </div>
                          </div>

                         <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">Faculty</label>
                            <input type="text" class="form-control" name="Faculty" value="@Model.Faculty">
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">Course</label>
                            <input type="text" class="form-control" name="Course" value="@Model.Course">
                          </div>

                          </div>

                        <div class="mt-2">
                        <button formaction="TeacherSave" type="submit" class="btn btn-primary me-2">Save Teacher</button>
                        <button formaction="DeleteTeacher" type="submit" class="btn btn-danger me-2" value="MyProfile">Delete Teacher</button>    
                    </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
}