@model IEnumerable<AcademicManagementSystem.Models.TblDiscontinuity>
@{
    ViewData["Title"] = "Discontinuity";
    Layout = "~/Views/_TeacherLayout.cshtml";
    string[] weeks = { "Week1", "Week2", "Week3", "Week4", "Week5", "Week6", "Week7",
                        "Week8", "Week9", "Week10", "Week11", "Week12", "Week13", "Week14","Button"};
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Teacher /</span> Discontinuity</h4>
     
<div class="card mb-4">
                <div class="card-body">
                <form id="lessonSelecting" method="POST">
                  <div class="row gx-3 gy-3 align-items-center">
                    <div class="col-md-9">
                      <label class="form-label" for="selectTypeOpt">Lesson</label>
                      <select id="selectTypeOpt" name="LessonName" class="form-select color-dropdown">
                        <option value="" selected="">Select a lesson</option>
                    @foreach(var lesson in TeacherLessons.lessonNames)
                    {
                            <option value=@lesson>@lesson</option>
                    }
                     </select>

                    </div>  
                    <div class="col-md-3">
                      <label class="form-label" for="showToastPlacement">&nbsp;</label>
                      <button type="submit" class="btn btn-primary d-block">Select</button>
                    </div>
                  </div>
                   </form>
                </div>
              </div>


                       @if(Model != null)
                       {
              <div class="card">
                <h5 class="card-header">Student List</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Student</th>
                        @for(int i = 1; i <=15; i++)
                        {
                            @if(i!=15)
                                {
                                    <th>@i</th>
                                }                                
                                else
                                {
                                    <th>Save</th>
                                }
                            }
                        </tr>
                      </thead>
                      <tbody>

                          @foreach(var student in Model)
                        {
                              <form action="DiscontinuitySave" method="Post">
                                  <input type="hidden" name="Id" value="@student.Id">
                                  <input type="hidden" name="LessonCode" value="@student.LessonCode">
                                  <input type="hidden" name="Class" value="@student.Class">
                                  <input type="hidden" name="LessonName" value="@student.LessonName">
                                  <input type="hidden" name="StudentId" value="@student.StudentId">
                                  <input type="hidden" name="StudentName" value="@student.StudentName">
                               <tr>
                                             
                                <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@student.StudentName</strong>
                              </td>

                            @foreach(var week in weeks)
                            {
                                    @switch (week)
                                    {
                                        case "Week1":
                                            @if (student.Week1 == true)
                                            {
                                               <td><input  name="Week1"  class="form-check-input" type="checkbox" id="Week1Check" checked></td>
                                              
                                            }
                                            else
                                            {
                                               <td><input  name="Week1"  class="form-check-input" type="checkbox" id="Week1Check"></td>                                               
                                            }
                                            break;
                                        case "Week2":
                                            @if (student.Week2 == true)
                                            {
                                                   <td><input class="form-check-input" name="Week2" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                                   <td><input class="form-check-input" name="Week2" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week3":
                                            @if (student.Week3 == true)
                                            {
                                                   <td><input class="form-check-input" name="Week3" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                                   <td><input class="form-check-input" name="Week3" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week4":
                                            @if (student.Week4 == true)
                                            {
                                                 <td><input class="form-check-input" name="Week4" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                                 <td><input class="form-check-input" name="Week4" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week5":
                                            @if (student.Week5 == true)
                                            {
                                                <td><input class="form-check-input" name="Week5" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                                <td><input class="form-check-input" name="Week5" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week6":
                                            @if (student.Week6 == true)
                                            {
                                                <td><input class="form-check-input" name="Week6" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                                <td><input class="form-check-input" name="Week6" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week7":
                                            @if (student.Week7 == true)
                                            {
                                               <td><input class="form-check-input" name="Week7" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                               <td><input class="form-check-input" name="Week7" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week8":
                                            @if (student.Week8 == true)
                                            {
                                              <td><input class="form-check-input" name="Week8" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                             <td><input class="form-check-input" name="Week8" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week9":
                                            @if (student.Week9 == true)
                                            {
                                                  <td><input class="form-check-input" name="Week9" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                                  <td><input class="form-check-input" name="Week9" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week10":
                                            @if (student.Week10 == true)
                                            {
                                                 <td><input class="form-check-input" name="Week10" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                               <td><input class="form-check-input" name="Week10" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week11":
                                            @if (student.Week11 == true)
                                            {
                                              <td><input class="form-check-input" name="Week11" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                              <td><input class="form-check-input" name="Week11" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week12":
                                            @if (student.Week12 == true)
                                            {
                                              <td><input class="form-check-input" name="Week12" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                              <td><input class="form-check-input" name="Week12" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week13":
                                            @if (student.Week13 == true)
                                            {
                                              <td><input class="form-check-input" name="Week13" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                              <td><input class="form-check-input" name="Week13" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        case "Week14":
                                            @if (student.Week14 == true)
                                            {
                                              <td><input class="form-check-input" name="Week14" type="checkbox" id="defaultCheck1" checked></td>
                                            }
                                            else
                                            {
                                              <td><input class="form-check-input" name="Week14" type="checkbox" id="defaultCheck1" ></td>
                                            }
                                            break;
                                        default:
                                             <td>
                                                  <button type="submit" class="btn btn-icon btn-primary">
                                                  <span class="tf-icons bx bx-save" style="color:#ffffff"></span>
                                                </button> 
                                                                 </td>
                                            break;
                                    }
                            }     
                                      
                             </tr>
                                       </form>        
                          }                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

} 